/*
 * Global Styles
 */

body {
	background-color: #E7E7E7;
}
#wrap, #page-wrap {
	background-color: white;
	border-radius: 3px;
	margin-top: 20px;
	margin-bottom: 40px;
}
#page-wrap {
	border-top: 8px solid #F9CF3C;
}
.container {
	max-width: 980px;
}
img {
	max-width: 100%;
	height: auto;
}
.center-block {
	float: none;
}


/*
 * Typography
 */

h1 {
	color: #12487E;
}
@media (min-width: 992px) {
	h1 {
		text-align: center;
		font-size: 3.3em;
		width: 120%;
		margin-left: -10%;
	}
}
h2 {
	color: #12487E;
	font-size: 2em;
}
.lead {
	font-size: 1.4em;
}
p {
	font-size: 1.2em;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*
 * Buttons
 */

.btn-primary {
	background-color: #12487E;
	border: none;
}
.btn-primary:hover {
	background-color: #7E7E7E;
	border: none;
}

/*
 * Navbar
 */

.navbar {
	position: relative;
	background-color: #12487E;
	height: 130px;
	border: 0px;
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-collapse {
	background-color: #12487E;
	margin-top: 40px;
	z-index: 100;
}
@media (min-width: 768px) {
	.navbar-collapse {
		background: none;
	}
}
.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 1.3em;
	border-radius: 3px;
}
.navbar-default .navbar-nav > li > a:hover {
	background-color: #F9CF3C;
}
.navbar-default .navbar-nav > li > a:focus {
	color: white;
}
.navbar-brand {
	padding-top: 10px;
}
.navbar-toggle {
	margin-top: 40px;
	background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #12487E;
}
li.dropdown.open {
	background-color: white;
}
.navbar-default .navbar-nav > .open > a:focus {
	border-radius: 3px;
}

/*
 * Sub-nav
 */

.sub-nav {
	margin-top: 20px;
}
.sub-nav .btn {
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	margin-top: 10px;
}

/*
 * Carousel
 */

.carousel {
	border-top: 4px solid #F9CF3C;
	border-bottom: 4px solid #F9CF3C;
	max-width: 1500px;
	margin: 0 auto;
}
.carousel img {
	width: 100%;
	height: auto;
}

/*
 * Feature
 */

.feature .feature-button {
	text-align: center;
}

.feature-button .btn-primary {
	padding: 10px 35px;
}

/*
 * Footer
 */

footer {
	text-align: center;
	font-size: 1.1em;
}
footer a {
	margin-left: 10px;
	margin-right: 10px;
}