/*
 * Global Styles
 */

body {
	background-color: #E7E7E7;
}

#wrap, #page-wrap {
	background-color: white;
	border-radius: 3px;
	margin-top: 20px;
	margin-bottom: 40px;
}
#page-wrap {
	border-top: 8px solid #F9CF3C;
}
@media (min-width: 768px) {
	#page-wrap {
		margin-top: 170px;
	}
}
.container {
	max-width: 980px;
}
img {
	max-width: 100%;
	height: auto;
}
.center-block {
	float: none;
}


/*
 * Typography
 */

h1 {
	color: #12487E;
}
h2 {
	color: #12487E;
	font-size: 2em;
}
.lead {
	font-size: 1.4em;
}
p {
	font-size: 1.1em;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*
 * Buttons
 */

.btn-primary {
	background-color: #12487E;
}


/*
 * Navbar
 */

.navbar-wrapper {
	margin-bottom: ;
}
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
	background-color: #12487E;
	height: 130px;
	border: 0px;
	margin-bottom: 0;
}
.navbar-collapse {
	background-color: #12487E;
	margin-top: 40px;
}
@media (min-width: 768px) {
	.navbar-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		margin-top: 20px;
	}
  .navbar-wrapper .navbar {
		border-radius: 6px;
  }
	.navbar-collapse {
		background: none;
	}
	.navbar-right {
		padding-right: 50px;
	}
}
.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 1.3em;
	border-radius: 3px;
}
.navbar-default .navbar-nav > li > a:hover {
	background-color: #F9CF3C;
}
.navbar-default .navbar-nav > li > a:focus {
	color: white;
}
.navbar-brand {
	padding-top: 10px;
}
.navbar-toggle {
	margin-top: 40px;
	background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #12487E;
}
li.dropdown.open {
	background-color: white;
}
.navbar-default .navbar-nav > .open> a:focus {
	border-radius: 3px;
}

/*
 * Sub-nav
 */

.sub-nav {
	margin-top: 10px;
}
.sub-nav a {
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*
 * Carousel
 */

.carousel {
	border-bottom: 4px solid #F9CF3C;
	max-width: 1750px;
	margin: 0 auto;
}
.carousel img {
	width: 100%;
	height: auto;
}

/*
 * Category List
 */

.category-list {
	margin-top: 20px;
	list-style: none;
	padding: 0px;
}
.category-list li {
	margin-bottom: 20px;
}
.category-list li h3 {
	margin-top: 10px;
}


/*
 * Footer
 */

footer {
	text-align: center;
}
footer a {
	margin-left: 10px;
	margin-right: 10px;
}